    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        // Tooltip initialization
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        // updating the min of the second date once the first date has been set
        $("#startDateInput").on("change",() => {
            const newMin = $("#startDateInput").val();
            if (newMin !== ""){
                $("#endDateInput").attr({
                    "min": newMin
            });
            } else {
                $("#endDateInput").attr({
                    "min": $("#startDateInput").attr("min")
                });
            }
        });

        // updating the min of the second date once the first date has been set (within a sprint)
        $("#startDateEdit").on("change",() => {
            const newMin = $("#startDateEdit").val();
            if (newMin !== ""){
                $("#endDateEdit").attr({
                    "min": newMin
            });
            } else {
                $("#endDateEdit").attr({
                    "min": $("#startDateEdit").attr("min")
                });
            }
        });

        // move the cursor of the user once the "+" task is pressed, and rotate the icon to an x
        $("#addTaskBtn").click(() => {
            $("#addTaskIcon").toggleClass("rotate");
            $("#taskNameInput").focus();
        })
    </script>
</body>

</html>