<%- include ("partials/header.ejs"); -%>
<div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-12 col-lg-8 col-xl-6 mt-5">
        <div class="d-flex flex-column m-5">
            <div class="d-flex align-items-start flex-column mt-5">
                <h1>Change Password</h1>
                <% if (locals.firstLogin) { %>
                    <p>Welcome! 👋 Since it's your first time logging in, please set a new password to keep your account secure. It will only take a moment!</p>
                <% } %>
            </div>
            <form action="/changePassword" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter your new password</label>
                    <input type="password" name="password" class="form-control <%= locals.invalid?"is-invalid":"" %>" id="exampleInputEmail1" required autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Re-enter your new password</label>
                    <input type="password" name="passwordCheck" class="form-control <%= locals.invalid?"is-invalid":"" %>" id="exampleInputPassword1" required autocomplete="off">
                </div>

                <% if (locals.invalid) { %>
                <div class="text-danger mb-4">
                    Oops! Those passwords doesn't seem to match. Please try again
                </div>
                <% } %>

                <button type="submit" class="btn btn-primary w-100">Save</button>
            </form>
        </div>
    </div>
</div>
<%- include ("partials/footer.ejs"); -%>